main{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #FFA07A;
    width: 30%;
    border-radius: 10px;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    font-size: 30px;
}
